In [1]:
import pandas as pd
import glob
import os

# Con esto se hace merge

In [3]:
# Ruta a la carpeta que contiene los archivos
ruta = 'Data/ExtraccionDomiVersionFinal/'

# Obtener todos los archivos que coincidan con el patrón
archivos = glob.glob(os.path.join(ruta, 'ListaCobroDetalle20*.csv'))

# Leer y concatenar todos los archivos en un solo DataFrame
df_detalle = pd.concat([pd.read_csv(archivo) for archivo in archivos], ignore_index=True)

df_lista = pd.read_csv(os.path.join(ruta, 'ListaCobro.csv'))
df_emisora = pd.read_csv(os.path.join(ruta, 'ListaCobroEmisora.csv'))
df_creditos = pd.read_csv(os.path.join(ruta, 'Capital_Pagare_FechaAperturaCredito.csv'))

C:\Users\chall\AppData\Local\Temp\ipykernel_21840\3636483435.py:8: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df_detalle = pd.concat([pd.read_csv(archivo) for archivo in archivos], ignore_index=True)

In [4]:
df_detalle = df_detalle.merge(
    df_lista[['idListaCobro', 'fechaEnvioCobro']],
    on='idListaCobro',
    how='left'
)

df_detalle = df_detalle.merge(
    df_emisora[['idListaCobro', 'idEmisora']],
    on='idListaCobro',
    how='left'
)

df_detalle = df_detalle.merge(
    df_creditos[['idcredito', 'pagare', 'capital', 'fechaAperturaCredito']],
    left_on='idCredito',
    right_on='idcredito',
    how='left'
)

df_detalle.drop(columns='idcredito', inplace=True)

In [5]:
df_detalle.to_csv('Data/ExtraccionDomiVersionFinal/ListaCobroDetalleFinal.csv', index=False)
df_detalle.head()

,idListaCobro,idCredito,consecutivoCobro,idBanco,montoExigible,montoCobrar,montoCobrado,fechaCobroBanco,idRespuestaBanco,fechaEnvioCobro,idEmisora,pagare,capital,fechaAperturaCredito
0,100613,83021,27169966,2,572.24,572.24,0.0,NaN,04,30/09/2022,51,44634.33,21000.0,30/12/2013
1,100613,87227,27169937,2,517.74,517.74,0.0,NaN,04,30/09/2022,51,40383.33,19000.0,12/02/2014
2,100613,103785,27169946,2,681.23,681.23,0.0,NaN,04,30/09/2022,51,53135.94,25000.0,19/02/2014
3,100613,110463,27169969,2,572.24,572.24,0.0,NaN,04,30/09/2022,51,44634.33,21000.0,26/02/2014
4,100613,113755,27169948,2,340.62,340.62,0.0,NaN,04,30/09/2022,51,26567.97,12500.0,21/03/2014

# Aquí esa el merge

Reiniciar y solo leer un dataframe

In [14]:
# Ruta a la carpeta que contiene los archivos
ruta = 'Data/ExtraccionDomiVersionFinal/'
df_lista = pd.read_csv(os.path.join(ruta, 'ListaCobroDetalleFinal.csv'))

C:\Users\chall\AppData\Local\Temp\ipykernel_9536\2748886643.py:3: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df_lista = pd.read_csv(os.path.join(ruta, 'ListaCobroDetalleFinal.csv'))

In [15]:
df_lista.head(10)

,idListaCobro,idCredito,consecutivoCobro,idBanco,montoExigible,montoCobrar,montoCobrado,fechaCobroBanco,idRespuestaBanco,fechaEnvioCobro,idEmisora,pagare,capital,fechaAperturaCredito
0,100613,83021,27169966,2,572.24,572.24,0.0,NaN,04,30/09/2022,51,44634.33,21000.0,30/12/2013
1,100613,87227,27169937,2,517.74,517.74,0.0,NaN,04,30/09/2022,51,40383.33,19000.0,12/02/2014
2,100613,103785,27169946,2,681.23,681.23,0.0,NaN,04,30/09/2022,51,53135.94,25000.0,19/02/2014
3,100613,110463,27169969,2,572.24,572.24,0.0,NaN,04,30/09/2022,51,44634.33,21000.0,26/02/2014
4,100613,113755,27169948,2,340.62,340.62,0.0,NaN,04,30/09/2022,51,26567.97,12500.0,21/03/2014
5,100613,118237,27169957,2,272.50,272.50,0.0,NaN,04,30/09/2022,51,21254.61,10000.0,22/04/2014
6,100613,136004,27169958,2,361.06,361.06,0.0,NaN,04,30/09/2022,51,28162.29,13250.0,26/08/2014
7,100613,137382,27169934,2,393.94,393.94,0.0,NaN,04,30/09/2022,51,51212.20,18160.0,01/09/2014
8,100613,137885,27169970,2,289.02,289.02,0.0,NaN,04,30/09/2022,51,37571.95,13323.0,12/09/2014
9,100613,149399,27169968,2,572.24,572.24,0.0,NaN,04,30/09/2022,51,44634.33,21000.0,13/10/2014

In [16]:
df_lista['fechaEnvioCobro'] = pd.to_datetime(df_lista['fechaEnvioCobro'], errors='coerce')

df_lista = df_lista.sort_values(by='fechaEnvioCobro')

grupo_cliente = df_lista.groupby('idCredito')
grupo_cliente.head(10)

C:\Users\chall\AppData\Local\Temp\ipykernel_9536\1540265132.py:1: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_lista['fechaEnvioCobro'] = pd.to_datetime(df_lista['fechaEnvioCobro'], errors='coerce')

,idListaCobro,idCredito,consecutivoCobro,idBanco,montoExigible,montoCobrar,montoCobrado,fechaCobroBanco,idRespuestaBanco,fechaEnvioCobro,idEmisora,pagare,capital,fechaAperturaCredito
52429,79678,165493,23794403,21,579.20,579.20,0.0,NaN,DD00028,2022-01-04,20,75295.35,26700.0,24/02/2015
52437,79678,380585,23794410,21,403.02,403.02,0.0,NaN,DD00028,2022-01-04,20,52391.94,19800.0,25/04/2017
52438,79678,392796,23794411,21,620.80,620.80,0.0,NaN,DD00031,2022-01-04,20,64563.20,25507.0,24/07/2017
52439,79678,399308,23794412,21,642.51,642.51,0.0,NaN,DD00031,2022-01-04,20,66820.53,26399.0,07/09/2017
52440,79678,413409,23794413,21,486.77,486.77,0.0,NaN,DD00028,2022-01-04,20,50624.08,20000.0,07/12/2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10055578,162232,680026,44282132,21,239.92,239.92,0.0,NaN,4.0,2025-05-21,6,46064.64,17250.0,04/10/2023
10055574,162232,679749,44282128,21,515.43,515.43,0.0,NaN,4.0,2025-05-21,6,98961.60,37059.0,02/10/2023
10055582,162232,680349,44282136,21,328.54,328.54,0.0,NaN,4.0,2025-05-21,6,47309.04,21000.0,05/10/2023
10057308,162270,755287,44298923,2,623.98,623.98,0.0,NaN,4.0,2025-05-22,5,162237.40,57744.0,03/05/2025
10057310,162270,755859,44298925,2,585.75,585.75,0.0,NaN,4.0,2025-05-22,5,152297.08,54206.0,09/05/2025

# DataFrame ordenada por fecha de apertura de crédito y agrupado por idCredito #