In [2]:
import pandas as pd
import glob
import os

In [3]:
# Ruta a la carpeta que contiene los archivos
ruta = 'Data/ExtraccionDomiVersionFinal/'

# Obtener todos los archivos que coincidan con el patrón
archivos = glob.glob(os.path.join(ruta, 'ListaCobroDetalle20*.csv'))

# Leer y concatenar todos los archivos en un solo DataFrame
df_detalle = pd.concat([pd.read_csv(archivo) for archivo in archivos], ignore_index=True)

C:\Users\conej\AppData\Local\Temp\ipykernel_440\2771146614.py:8: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df_detalle = pd.concat([pd.read_csv(archivo) for archivo in archivos], ignore_index=True)

In [5]:
df_lista = pd.read_csv(os.path.join(ruta, 'ListaCobro.csv'))

# Hacer merge con 'idListaCobro' como llave
df_detalle = df_detalle.merge(
    df_lista[['idListaCobro', 'fechaEnvioCobro']],
    on='idListaCobro',
    how='left'
)

# Ahora df_merged tiene la columna 'fechaEnvioCobro'
print(df_detalle[['idListaCobro', 'fechaEnvioCobro']].head())

   idListaCobro fechaEnvioCobro
0        100613      30/09/2022
1        100613      30/09/2022
2        100613      30/09/2022
3        100613      30/09/2022
4        100613      30/09/2022

In [6]:
df_detalle

,idListaCobro,idCredito,consecutivoCobro,idBanco,montoExigible,montoCobrar,montoCobrado,fechaCobroBanco,idRespuestaBanco,fechaEnvioCobro
0,100613,83021,27169966,2,572.24,572.24,0.0,NaN,04,30/09/2022
1,100613,87227,27169937,2,517.74,517.74,0.0,NaN,04,30/09/2022
2,100613,103785,27169946,2,681.23,681.23,0.0,NaN,04,30/09/2022
3,100613,110463,27169969,2,572.24,572.24,0.0,NaN,04,30/09/2022
4,100613,113755,27169948,2,340.62,340.62,0.0,NaN,04,30/09/2022
...,...,...,...,...,...,...,...,...,...,...
10057435,162271,741795,44299050,2,980.32,980.32,0.0,NaN,4.0,22/05/2025
10057436,162271,741795,44299051,2,1633.86,1633.86,0.0,NaN,4.0,22/05/2025
10057437,162271,742470,44299052,2,810.44,810.44,0.0,NaN,4.0,22/05/2025
10057438,162271,742470,44299053,2,1350.74,1350.74,0.0,NaN,4.0,22/05/2025
10057439,162271,742470,44299054,2,540.30,540.30,0.0,NaN,4.0,22/05/2025