In [1]:
import pandas as pd
import glob
import os

# Con esto se hace merge

In [2]:
# Ruta a la carpeta que contiene los archivos
ruta = 'Data/ExtraccionDomiVersionFinal/'

# Obtener todos los archivos que coincidan con el patrón
archivos = glob.glob(os.path.join(ruta, 'ListaCobroDetalle20*.csv'))

# Leer y concatenar todos los archivos en un solo DataFrame
df_detalle = pd.concat([pd.read_csv(archivo) for archivo in archivos], ignore_index=True)

df_lista = pd.read_csv(os.path.join(ruta, 'ListaCobro.csv'))
df_emisora = pd.read_csv(os.path.join(ruta, 'ListaCobroEmisora.csv'))
df_creditos = pd.read_csv(os.path.join(ruta, 'Capital_Pagare_FechaAperturaCredito.csv'))

C:\Users\conej\AppData\Local\Temp\ipykernel_29112\3636483435.py:8: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df_detalle = pd.concat([pd.read_csv(archivo) for archivo in archivos], ignore_index=True)

In [3]:
df_detalle = df_detalle.merge(
    df_lista[['idListaCobro', 'fechaEnvioCobro']],
    on='idListaCobro',
    how='left'
)

df_detalle = df_detalle.merge(
    df_emisora[['idListaCobro', 'idEmisora']],
    on='idListaCobro',
    how='left'
)

df_detalle = df_detalle.merge(
    df_creditos[['idcredito', 'pagare', 'capital', 'fechaAperturaCredito']],
    left_on='idCredito',
    right_on='idcredito',
    how='left'
)

df_detalle.drop(columns='idcredito', inplace=True)

In [4]:
df_detalle.to_csv('Data/ExtraccionDomiVersionFinal/ListaCobroDetalleFinal.csv', index=False)
df_detalle.head()

,idListaCobro,idCredito,consecutivoCobro,idBanco,montoExigible,montoCobrar,montoCobrado,fechaCobroBanco,idRespuestaBanco,fechaEnvioCobro,idEmisora,pagare,capital,fechaAperturaCredito
0,100613,83021,27169966,2,572.24,572.24,0.0,NaN,04,30/09/2022,51,44634.33,21000.0,30/12/2013
1,100613,87227,27169937,2,517.74,517.74,0.0,NaN,04,30/09/2022,51,40383.33,19000.0,12/02/2014
2,100613,103785,27169946,2,681.23,681.23,0.0,NaN,04,30/09/2022,51,53135.94,25000.0,19/02/2014
3,100613,110463,27169969,2,572.24,572.24,0.0,NaN,04,30/09/2022,51,44634.33,21000.0,26/02/2014
4,100613,113755,27169948,2,340.62,340.62,0.0,NaN,04,30/09/2022,51,26567.97,12500.0,21/03/2014

# Aquí esa el merge

Reiniciar y solo leer un dataframe

In [5]:
# Ruta a la carpeta que contiene los archivos
ruta = 'Data/ExtraccionDomiVersionFinal/'
df_lista = pd.read_csv(os.path.join(ruta, 'ListaCobroDetalleFinal.csv'))

C:\Users\conej\AppData\Local\Temp\ipykernel_29112\2748886643.py:3: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df_lista = pd.read_csv(os.path.join(ruta, 'ListaCobroDetalleFinal.csv'))