In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [20]:
# Dataframes complementarios (Traducción de IDs)                                         # 1ra Columna   -> Resto de columnas
df_id_banco = pd.read_csv("Data/ExtraccionDomiVersionFinal/CatBanco.csv")                # ID Banco      -> Nombre del banco
df_id_emisora = pd.read_csv("Data/ExtraccionDomiVersionFinal/CatEmisora.csv")            # ID Emisora    -> Nombre Emisora, ID Banco, Emisora??, Tipo envío
df_id_respuesta = pd.read_csv("Data/ExtraccionDomiVersionFinal/CatRespuestaBancos.csv")  # ID Respuesta  -> Descripción
df_id_listacobro = pd.read_csv("Data/ExtraccionDomiVersionFinal/ListaCobro.csv")         # ID ListaCobro -> Fecha creación, ID Banco, Fecha envío
df_id_listaemisor = pd.read_csv("Data/ExtraccionDomiVersionFinal/ListaCobroEmisora.csv") # ID ListaCobro -> ID Emisora

# Dataframes detallados por año
df_2022 = pd.read_csv("Data/ExtraccionDomiVersionFinal/ListaCobroDetalle2022.csv")
df_2023 = pd.read_csv("Data/ExtraccionDomiVersionFinal/ListaCobroDetalle2023.csv")
df_2024 = pd.read_csv("Data/ExtraccionDomiVersionFinal/ListaCobroDetalle2024.csv")
df_2025 = pd.read_csv("Data/ExtraccionDomiVersionFinal/ListaCobroDetalle2025.csv")

cobros_detallados = pd.concat([df_2022, df_2023, df_2024, df_2025], ignore_index=True)

C:\Users\chall\AppData\Local\Temp\ipykernel_23176\2370501616.py:10: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2023 = pd.read_csv("Data/ExtraccionDomiVersionFinal/ListaCobroDetalle2023.csv")

In [21]:
# Standardize column names
df_id_banco = df_id_banco.rename(columns={'IdBanco': 'idBanco', 'Nombre': 'nombreBanco'})
df_id_respuesta = df_id_respuesta.rename(columns={'IdRespuestaBanco': 'idRespuestaBanco'})
df_id_emisora = df_id_emisora.rename(columns={'Nombre': 'nombreEmisora'})

# Drop duplicated columns
df_id_emisora = df_id_emisora.drop('IdBanco', axis=1)

In [22]:
# Merge ID columns
cobros_detallados = cobros_detallados.merge(df_id_banco, on='idBanco', how='left') # Obtener nombre de banco
cobros_detallados = cobros_detallados.merge(df_id_respuesta, on='idRespuestaBanco', how='left') # Obtener descripción de respuesta
cobros_detallados = cobros_detallados.merge(df_id_listaemisor, on='idListaCobro', how='left') # Obtener ID emisora
#cobros_detallados = cobros_detallados.merge(df_id_emisora, on='idEmisora', how='left') # Obtener datos de emisora

In [23]:
cobros_detallados.head(20)

,idListaCobro,idCredito,consecutivoCobro,idBanco,montoExigible,montoCobrar,montoCobrado,fechaCobroBanco,idRespuestaBanco,nombreBanco,Descripcion,idEmisora
0,100613,83021,27169966,2,572.24,572.24,0.0,NaN,04,BANAMEX,Cuenta Insuficiencia Fondos,51
1,100613,87227,27169937,2,517.74,517.74,0.0,NaN,04,BANAMEX,Cuenta Insuficiencia Fondos,51
2,100613,103785,27169946,2,681.23,681.23,0.0,NaN,04,BANAMEX,Cuenta Insuficiencia Fondos,51
3,100613,110463,27169969,2,572.24,572.24,0.0,NaN,04,BANAMEX,Cuenta Insuficiencia Fondos,51
4,100613,113755,27169948,2,340.62,340.62,0.0,NaN,04,BANAMEX,Cuenta Insuficiencia Fondos,51
5,100613,118237,27169957,2,272.50,272.50,0.0,NaN,04,BANAMEX,Cuenta Insuficiencia Fondos,51
6,100613,136004,27169958,2,361.06,361.06,0.0,NaN,04,BANAMEX,Cuenta Insuficiencia Fondos,51
7,100613,137382,27169934,2,393.94,393.94,0.0,NaN,04,BANAMEX,Cuenta Insuficiencia Fondos,51
8,100613,137885,27169970,2,289.02,289.02,0.0,NaN,04,BANAMEX,Cuenta Insuficiencia Fondos,51
9,100613,149399,27169968,2,572.24,572.24,0.0,NaN,04,BANAMEX,Cuenta Insuficiencia Fondos,51
10,100613,161534,27169931,2,295.02,295.02,0.0,NaN,04,BANAMEX,Cuenta Insuficiencia Fondos,51
11,100613,275360,27169950,2,532.99,532.99,0.0,NaN,04,BANAMEX,Cuenta Insuficiencia Fondos,51
12,100613,296810,27169956,2,468.15,468.15,0.0,NaN,04,BANAMEX,Cuenta Insuficiencia Fondos,51
13,100613,343551,27169941,2,517.68,517.68,0.0,NaN,04,BANAMEX,Cuenta Insuficiencia Fondos,51
14,100613,360034,27169932,2,656.59,656.59,0.0,NaN,04,BANAMEX,Cuenta Insuficiencia Fondos,51
15,100613,363720,27169959,2,517.68,517.68,0.0,NaN,04,BANAMEX,Cuenta Insuficiencia Fondos,51
16,100613,364627,27169953,2,146.49,146.49,0.0,NaN,04,BANAMEX,Cuenta Insuficiencia Fondos,51
17,100613,365595,27169963,2,310.61,310.61,0.0,NaN,04,BANAMEX,Cuenta Insuficiencia Fondos,51
18,100613,370244,27169964,2,1017.51,1017.51,0.0,NaN,04,BANAMEX,Cuenta Insuficiencia Fondos,51
19,100613,374741,27169954,2,517.68,517.68,0.0,NaN,04,BANAMEX,Cuenta Insuficiencia Fondos,51

In [27]:
patron_exito = r'\b(Exitosa|ENTREGADO|Cuenta correcta en la validaci[oó]n de cuentas)\b'
patron_reintentable = r'\b(Fondos|Insuficiencia|fuera de horario|Error.*proceso|Bajo [Pp]ago|rechazada temporal)\b'
patron_definitivo = r'\b(Inexistente|Bloqueada|Cancelada|no pertenece|no admite|Orden de no pagar|Importe mayor|Cliente desconoce|Caracteres Inv[áa]lidos|Dato err[oó]neo|Operaci[oó]n Inv[áa]lida|Bloqueo a todos|Inconsistencia|Reverso del cargo|No se proceso|Convenio cerrado|Fraude|Dejo de pagar|Pago irregular|Fuera de politica|Saldo menor|Amparo|Licencia|Defunci[oó]n|Baja por jubilaci[oó]n|Baja dependencia|Sin pago|rechazada|TRANSACCI\?N RECHAZADA|cancelaci[oó]n del servicio|sin autorizaci[oó]n)\b'

cobros_detallados["es_exito"] = cobros_detallados["Descripcion"].str.contains(patron_exito, case=False, regex=True)
cobros_detallados["es_falla_reintentable"] = cobros_detallados["Descripcion"].str.contains(patron_reintentable, case=False, regex=True)
cobros_detallados["es_falla_definitiva"] = cobros_detallados["Descripcion"].str.contains(patron_definitivo, case=False, regex=True)
cobros_detallados.head(20)
# Prioridad: Éxito > Definitiva > Reintentable
#$cobros_detallados["es_falla_reintentable"] = cobros_detallados["es_falla_reintentable"] & ~cobros_detallados["es_exito"]
#cobros_detallados["es_falla_definitiva"] = cobros_detallados["es_falla_definitiva"] & ~cobros_detallados["es_exito"] & ~cobros_detallados["es_falla_reintentable"]

# Validación final: todo lo no clasificado como definitivo
#sin_clasificar = ~cobros_detallados[["es_exito", "es_falla_reintentable", "es_falla_definitiva"]].any(axis=1)
#cobros_detallados.loc[sin_clasificar, "es_falla_definitiva"] = True

C:\Users\chall\AppData\Local\Temp\ipykernel_23176\2795872220.py:5: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  cobros_detallados["es_exito"] = cobros_detallados["Descripcion"].str.contains(patron_exito, case=False, regex=True)
C:\Users\chall\AppData\Local\Temp\ipykernel_23176\2795872220.py:6: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  cobros_detallados["es_falla_reintentable"] = cobros_detallados["Descripcion"].str.contains(patron_reintentable, case=False, regex=True)
C:\Users\chall\AppData\Local\Temp\ipykernel_23176\2795872220.py:7: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  cobros_detallados["es_falla_definitiva"] = cobros_detallados["Descripcion"].str.contains(patron_definitivo, case=False, regex=True)

,idListaCobro,idCredito,consecutivoCobro,idBanco,montoExigible,montoCobrar,montoCobrado,fechaCobroBanco,idRespuestaBanco,nombreBanco,Descripcion,idEmisora,es_exito,es_falla_reintentable,es_falla_definitiva
0,100613,83021,27169966,2,572.24,572.24,0.0,NaN,04,BANAMEX,Cuenta Insuficiencia Fondos,51,False,True,False
1,100613,87227,27169937,2,517.74,517.74,0.0,NaN,04,BANAMEX,Cuenta Insuficiencia Fondos,51,False,True,False
2,100613,103785,27169946,2,681.23,681.23,0.0,NaN,04,BANAMEX,Cuenta Insuficiencia Fondos,51,False,True,False
3,100613,110463,27169969,2,572.24,572.24,0.0,NaN,04,BANAMEX,Cuenta Insuficiencia Fondos,51,False,True,False
4,100613,113755,27169948,2,340.62,340.62,0.0,NaN,04,BANAMEX,Cuenta Insuficiencia Fondos,51,False,True,False
5,100613,118237,27169957,2,272.50,272.50,0.0,NaN,04,BANAMEX,Cuenta Insuficiencia Fondos,51,False,True,False
6,100613,136004,27169958,2,361.06,361.06,0.0,NaN,04,BANAMEX,Cuenta Insuficiencia Fondos,51,False,True,False
7,100613,137382,27169934,2,393.94,393.94,0.0,NaN,04,BANAMEX,Cuenta Insuficiencia Fondos,51,False,True,False
8,100613,137885,27169970,2,289.02,289.02,0.0,NaN,04,BANAMEX,Cuenta Insuficiencia Fondos,51,False,True,False
9,100613,149399,27169968,2,572.24,572.24,0.0,NaN,04,BANAMEX,Cuenta Insuficiencia Fondos,51,False,True,False
10,100613,161534,27169931,2,295.02,295.02,0.0,NaN,04,BANAMEX,Cuenta Insuficiencia Fondos,51,False,True,False
11,100613,275360,27169950,2,532.99,532.99,0.0,NaN,04,BANAMEX,Cuenta Insuficiencia Fondos,51,False,True,False
12,100613,296810,27169956,2,468.15,468.15,0.0,NaN,04,BANAMEX,Cuenta Insuficiencia Fondos,51,False,True,False
13,100613,343551,27169941,2,517.68,517.68,0.0,NaN,04,BANAMEX,Cuenta Insuficiencia Fondos,51,False,True,False
14,100613,360034,27169932,2,656.59,656.59,0.0,NaN,04,BANAMEX,Cuenta Insuficiencia Fondos,51,False,True,False
15,100613,363720,27169959,2,517.68,517.68,0.0,NaN,04,BANAMEX,Cuenta Insuficiencia Fondos,51,False,True,False
16,100613,364627,27169953,2,146.49,146.49,0.0,NaN,04,BANAMEX,Cuenta Insuficiencia Fondos,51,False,True,False
17,100613,365595,27169963,2,310.61,310.61,0.0,NaN,04,BANAMEX,Cuenta Insuficiencia Fondos,51,False,True,False
18,100613,370244,27169964,2,1017.51,1017.51,0.0,NaN,04,BANAMEX,Cuenta Insuficiencia Fondos,51,False,True,False
19,100613,374741,27169954,2,517.68,517.68,0.0,NaN,04,BANAMEX,Cuenta Insuficiencia Fondos,51,False,True,False

In [28]:
cobros_detallados["es_exito"] = cobros_detallados["es_exito"].astype(bool)
cobros_detallados["es_falla_reintentable"] = cobros_detallados["es_falla_reintentable"].astype(bool)
cobros_detallados["es_falla_definitiva"] = cobros_detallados["es_falla_definitiva"].astype(bool)

In [29]:
cobros_ordenados = cobros_detallados.sort_values(by=["idCredito", "consecutivoCobro"]).copy()
cobros_ordenados["es_falla_reintentable_real"] = False

for id_credito, grupo in cobros_ordenados.groupby("idCredito"):
    exito_indices = grupo.index[grupo["es_exito"]]  # Aquí ya no debe fallar
    
    if not exito_indices.empty:
        primer_exito_pos = grupo.loc[exito_indices[0], "consecutivoCobro"]
        reintentar_mask = (grupo["es_falla_reintentable"]) & (grupo["consecutivoCobro"] < primer_exito_pos)
    else:
        reintentar_mask = grupo["es_falla_reintentable"]
    
    cobros_ordenados.loc[grupo[reintentar_mask].index, "es_falla_reintentable_real"] = True

In [ ]:
cobros_ordenados[["idCredito", "consecutivoCobro", "Descripcion", "es_exito", "es_falla_reintentable", "es_falla_reintentable_real"]].head(20)

es_exito                 bool
es_falla_reintentable    bool
es_falla_definitiva      bool
dtype: object

,idCredito,consecutivoCobro,Descripcion,es_exito,es_falla_reintentable,es_falla_reintentable_real
220987,6,29066707,NaN,True,True,False
1278180,6,32697369,NaN,True,True,False
220988,560,29066708,NaN,True,True,False
216074,773,29059961,NaN,True,True,False
220989,773,29066709,NaN,True,True,False
216075,1154,29062362,NaN,True,True,False
220990,1154,29066710,NaN,True,True,False
216076,1315,29062129,NaN,True,True,False
220991,1315,29066711,NaN,True,True,False
216077,1340,29058151,NaN,True,True,False
220992,1340,29066712,NaN,True,True,False
216078,2292,29060054,NaN,True,True,False
220993,2292,29066713,NaN,True,True,False
216079,2894,29061120,NaN,True,True,False
220994,2894,29066714,NaN,True,True,False
216080,3280,29058425,NaN,True,True,False
220995,3280,29066715,NaN,True,True,False
220996,3316,29066716,NaN,True,True,False
3179916,3674,36776754,NaN,True,True,False
220997,3821,29066717,NaN,True,True,False

In [ ]:
def estado_final(grupo):
    if grupo["es_exito"].any():
        return "exitoso"
    elif grupo["es_falla_definitiva"].any():
        return "fallo_definitivo"
    elif grupo["es_falla_reintentable_real"].any():
        return "fallo_reintentable_final"
    else:
        return "desconocido"

estado_por_credito = cobros_ordenados.groupby("idCredito").apply(estado_final)
estado_por_credito.name = "estado_final"

cobros_ordenados = cobros_ordenados.merge(estado_por_credito, on="idCredito")

C:\Users\chall\AppData\Local\Temp\ipykernel_23176\2275441596.py:12: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  estado_por_credito = cobros_ordenados.groupby("idCredito").apply(estado_final)

In [34]:
cobros_ordenados.head(20)

,idListaCobro,idCredito,consecutivoCobro,idBanco,montoExigible,montoCobrar,montoCobrado,fechaCobroBanco,idRespuestaBanco,nombreBanco,Descripcion,idEmisora,es_exito,es_falla_reintentable,es_falla_definitiva,es_falla_reintentable_real,estado_final
0,102697,6,29066707,2,375.47,375.47,0.0,NaN,NaN,BANAMEX,NaN,9,True,True,True,False,exitoso
1,126519,6,32697369,2,375.47,375.47,0.0,NaN,4.0,BANAMEX,NaN,23,True,True,True,False,exitoso
2,102697,560,29066708,2,572.44,572.44,0.0,NaN,NaN,BANAMEX,NaN,9,True,True,True,False,exitoso
3,102693,773,29059961,14,391.12,391.12,0.0,NaN,NaN,SANTANDER,NaN,7,True,True,True,False,exitoso
4,102697,773,29066709,14,391.12,391.12,0.0,NaN,NaN,SANTANDER,NaN,9,True,True,True,False,exitoso
5,102693,1154,29062362,14,92.73,92.73,0.0,NaN,NaN,SANTANDER,NaN,7,True,True,True,False,exitoso
6,102697,1154,29066710,14,92.73,92.73,0.0,NaN,NaN,SANTANDER,NaN,9,True,True,True,False,exitoso
7,102693,1315,29062129,14,375.47,375.47,0.0,NaN,NaN,SANTANDER,NaN,7,True,True,True,False,exitoso
8,102697,1315,29066711,14,375.47,375.47,0.0,NaN,NaN,SANTANDER,NaN,9,True,True,True,False,exitoso
9,102693,1340,29058151,14,312.89,312.89,0.0,NaN,NaN,SANTANDER,NaN,7,True,True,True,False,exitoso
10,102697,1340,29066712,14,312.89,312.89,0.0,NaN,NaN,SANTANDER,NaN,9,True,True,True,False,exitoso
11,102693,2292,29060054,14,328.54,328.54,0.0,NaN,NaN,SANTANDER,NaN,7,True,True,True,False,exitoso
12,102697,2292,29066713,14,328.54,328.54,0.0,NaN,NaN,SANTANDER,NaN,9,True,True,True,False,exitoso
13,102693,2894,29061120,14,927.23,927.23,0.0,NaN,NaN,SANTANDER,NaN,7,True,True,True,False,exitoso
14,102697,2894,29066714,14,927.23,927.23,0.0,NaN,NaN,SANTANDER,NaN,9,True,True,True,False,exitoso
15,102693,3280,29058425,14,625.78,625.78,0.0,NaN,NaN,SANTANDER,NaN,7,True,True,True,False,exitoso
16,102697,3280,29066715,14,625.78,625.78,0.0,NaN,NaN,SANTANDER,NaN,9,True,True,True,False,exitoso
17,102697,3316,29066716,72,453.69,453.69,0.0,NaN,NaN,BANORTE,NaN,9,True,True,True,False,exitoso
18,142484,3674,36776754,72,344.18,344.18,0.0,NaN,1.0,BANORTE,NaN,12,True,True,True,False,exitoso
19,102697,3821,29066717,72,484.98,484.98,0.0,NaN,NaN,BANORTE,NaN,9,True,True,True,False,exitoso